<div class="card">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for carImage in car.carImages %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img src="{{ asset('uploads/' ~ carImage.name) }}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
        <p class="card-text">{{ car.price|number_format (0, ',', ' ') }} €<br>
            {{ car.carKm|number_format (0, ',', ' ') }} KM<br>
            {{ car.energy }}
        </p>
        <div class=" btns text-center">
            <a href="{{path('app_contact_form')}}" class="btn" id="carContactBtn"><svg
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope-open"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z" />
                </svg></a>

            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{car.id}}">
                En savoir plus
            </button>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{car.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ car.brand }} {{ car.model }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <h3>Infos</h3>
                        <p>
                            Prix : {{ car.price|number_format (0, ',', ' ') }}€<br>
                            Année : {{ car.year|number_format (0, ',', ' ') }} <br>
                            Carburant : {{ car.energy }}<br>
                            Kilométrage : {{ car.CarKm|number_format (0, ',', ' ') }} KM

                        </p>
                        <h3>Description</h3>
                        <p>{{ car.description|raw }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>